<article>
  <footer>
    <div>
      <h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        dolores quod? Ducimus ullam cumque id qui officiis possimus harum. Alias
        repudiandae saepe distinctio fugiat eveniet, harum aliquam officia quasi
        ut.
      </h2>

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
        autem enim voluptatibus dignissimos dolor necessitatibus eum, deleniti
        blanditiis? Laborum repellendus eligendi sapiente molestiae voluptatem
        dicta ea quas nam, quasi excepturi!\
      </p>
      <ul>
        <li>dada</li>
        <li>test da</li>
        <li>muie</li>
      </ul>
    </div>
  </footer>
</article>
